<form class="register-form-wrapper" [formGroup]="registerForm" 
(ngSubmit)="registerForm.valid && onRegister()">
<mat-card class="register-card">
     <mat-card-title>Register</mat-card-title>
     <mat-card-content>
     <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="first_name">
     </mat-form-field>
     <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="last_name">
     </mat-form-field>
     <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email">
          <mat-error *ngIf="email.invalid">
               <ng-container *ngIf="email.errors?.['email']">
                    Enter Valid email.
               </ng-container>
          </mat-error>
     </mat-form-field>
     <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
     </mat-form-field>
     <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="password.invalid">
               <ng-container *ngIf="password.errors?.['required']">
                    Password is required
               </ng-container>
               <ng-container *ngIf="password.errors?.['minlength']">
                    Password should be minimum of 8 characters.
               </ng-container>
          </mat-error>
     </mat-form-field>
     </mat-card-content>
     <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="registerForm.invalid">Register</button>
          Already a member? <a [routerLink]="['/users','login']">Click here to login</a>
     </mat-card-actions>
</mat-card>
</form>
