<div class="middle">
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <mat-card class="register-card">
    <mat-card-title>Login</mat-card-title>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" class="form-control" name="useremail" ngModel />
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control"  name="password" ngModel />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div >
    <div class="col">
      <!-- Simple link -->
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

  <!-- Register buttons -->
  <div class="text-center">
    <p>Not a member? <a [routerLink]="['/users','register']">Register</a></p>
    
    
    
  </div>
  </mat-card>
</form>
</div>